<div class="box_wrapper">
    <div class="ze_box">
        <div class="box">
            <div class="boxy">
                <object id="desktop_svg" data="{{ site.baseurl }}public/assets/img/desktop.svg" type="image/svg+xml" data-sr="enter left">
                    <img src="{{ site.baseurl }}public/assets/img/desktop.png" alt="Desktop" width="120" height="120" class="desk_png" data-sr="enter left">
                </object>
                <object id="laptop_svg" data="{{ site.baseurl }}public/assets/img/laptop.svg" type="image/svg+xml" data-sr="enter left">
                    <img src="{{ site.baseurl }}public/assets/img/laptop.png" alt="Laptop" width="120" height="120" class="lap_png" data-sr="enter left">
                </object>
            </div>
            <h1>Web</h1>
        </div>
        <div class="box">
            <div class="boxy">
                <object id="tab_svg" data="{{ site.baseurl }}public/assets/img/tab.svg" type="image/svg+xml" data-sr="enter left">
                    <img src="{{ site.baseurl }}public/assets/img/tab.png" alt="Tablet" width="120" height="120" class="tab_png" data-sr="enter left">
                </object>
                <object id="mob_svg" data="{{ site.baseurl }}public/assets/img/phone.svg" type="image/svg+xml" data-sr="enter left">
                    <img src="{{ site.basurl }}public/assets/img/phone.png" alt="Mobile" width="120" height="120" class="phone_png" data-sr="enter left">
                </object>
            </div>
            <h1>Mobile</h1>
        </div>
        <div class="box">
            <div class="boxy">
                <object id="graphic_svg" data="{{ site.baseurl }}public/assets/img/graphic.svg" type="image/svg+xml" data-sr="enter left">
                    <img src="{{ site.baseurl }}public/assets/img/graphic.png" alt="Graphic" width="120" height="120" class="graphic_png" data-sr="enter left">
                </object>
            </div>
            <h1>Graphic</h1>
        </div>
    </div>
</div>
