<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" href="{{ site.baseurl }}public/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}public/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}public/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}public/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}public/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}public/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}public/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}public/apple-touch-icon-152x152.png" />
  <!-- Windows 8 Tile Icons -->
  <meta name="msapplication-square70x70logo" content="{{ site.baseurl }}public/smalltile.png" />
  <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}public/mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}public/widetile.png" />
  <meta name="msapplication-square310x310logo" content="{{ site.baseurl }}public/largetile.png" />


  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
