<div class="head">
    <span class="menu-button" id="open-button">
    <span>menu</span>&nbsp;&nbsp;<i class="fa fa-navicon sliding-menu-button"></i>
    </span>
</div>

<nav class="ze-menu">
    <span class="close-button" id="close-button"><i class="fa fa-close closing-menu-button"></i></span>
    <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}public/assets/img/logo_alt.svg" alt="HS - Develop &amp; Design">
    </a>
    <ul>
        <li><a href="#">Home</a>
        </li>
        <li><a href="#">Portfolio</a>
        </li>
        <li><a href="#">Blog</a>
        </li>
        <li><a href="#">Contact</a>
        </li>
    </ul>
</nav>


<div class="wrap-cover">
</div>
