<script src="{{ site.baseurl }}public/assets/js/vendor/classie.min.js"></script>
<!--<script src="{{ site.baseurl }}public/assets/js/vendor/jquery.min.js"></script>-->
<script src="{{ site.baseurl }}public/assets/js/vendor/noframework.waypoints.min.js"></script>
<script src="{{ site.baseurl }}public/assets/js/vendor/snap.svg.min.js"></script>
<script src="{{ site.baseurl }}public/assets/js/vendor/CSSPlugin.min.js"></script>
<script src="{{ site.baseurl }}public/assets/js/vendor/EasePack.min.js"></script>
<script src="{{ site.baseurl }}public/assets/js/vendor/TweenLite.min.js"></script>
<!-- <script src="{{ site.baseurl }}public/assets/js/vendor/RaphaelPlugin.min.js"></script> -->
<script src="{{ site.baseurl }}public/assets/js/vendor/hammer.min.js"></script>
<script src="{{ site.baseurl  }}public/assets/js/vendor/TimelineLite.min.js"></script>
<!-- <script src="{{ site.baseurl }}public/assets/js/vendor/scrollReveal.min.js"></script> -->
<script src="{{ site.baseurl }}assets/js/main.js"></script>
<!--<script src="{{ site.baseurl  }}assets/js/plugins.js"></script>-->
