html, body {height:100%}
body {
    overflow-x: hidden;
    background: $pri-black;
    .wrap {
        @include transform(translateX(0px));
        @include transition($swift-ease-out);
        overflow: hidden;
        .hero {
            $hero-background-top: $pri-black;
            $hero-background-bottom: darken($pri-black, 5%);
            $hero-color: $white-smoke;
            //$gradient-angle: 10deg;
            $hero-image: '/public/assets/img/header_alt.png';
            @include background(url($hero-image), no-repeat $hero-background-top scroll);
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            padding-bottom: 4em;
            button {
                @include button(flat, $crimson);
            }
            .hero-logo img {
                width: 150px;
                @include animation(bounceInDown 1s 0.5s both);
                @include media($medium-screen) {
                    width: 200px;
                }
                @include media($large-screen) {
                    width: 250px;
					margin: 5% 0 2% 0;
                }
            }
            .hero-inner {
                @include outer-container(100%);
                @include clearfix;
                padding: 3em;
                margin: auto;
                text-align: center;
                color: $hero-color;
				height: 100%;
                .hero-copy {
                    text-align: center;
                    @include animation(fadeInUp 1s 0.7s both);
                    h1 {
                        font-size: 0.95em;
                        margin-bottom: .5em;
                        span {
                            font-weight: 600;
                            color: $crimson;
                            @include animation(bounceInUp 1.2s 0.5s both);
                        }
                        @include media($medium-screen) {
                            font-size: 1em;
                        }
                        @include media($large-screen) {
                            font-size: 1.5em;
                        }
                    }
                    p {
                        font-family: $serif;
                        margin: auto;
                        margin-top: 3em;
                        margin-bottom: 3em;
                        font-weight: 400;
                        line-height: 1.4em;
                        font-size: 0.8em;
                        @include media($large-screen) {
                            font-size: 1em;
                            max-width: 40%;
                        }
                    }
                }
            }
			// @include media($large-screen){
			// 	height: 690px;
			// }
        }
        .box_wrapper {
            @include outer-container(100%);
            @include row();
            @include span-columns(6);
            width: 100%;
            @include clearfix;
            // padding: 3em;
            margin: auto;
            text-align: center;
            height: auto;
            .ze_box {
                width: 100%;
                margin: 0 auto;
				.bimatele{
					width:100%;
					@include position(relative);
					height:300px;
					@include background(url(/public/assets/img/bimatele_investments.png), no-repeat top center);
					background-size:cover;
					// background-attachment:fixed;
					svg{
						z-index: $z-index-backdrop + 1;
						@include transition($swift-ease-out);
						&#desktop_laptop{
							@include size(90px);
							@include position(absolute, 0 180px null null);
							stroke-dasharray: 0;
							stroke-width: 0;
							& path#text_1_, path#text {
								fill: none;
							}
							@include media($large-screen){
								@include size(150px);
								@include position(absolute, 0 300px null null);
							}
						}
						&#tab_phone{
							@include size(90px);
							@include position(absolute, 0 90px null null);
							stroke-dasharray: 0;
							stroke-width: 0;
							& path#text_1_, path#text {
								fill: none;
							}
							@include media($large-screen){
								@include size(150px);
								@include position(absolute, 0 150px null null);
							}
						}
						&#graphic{
							@include size(90px);
							@include position(absolute, 0 0 null null);
							stroke-dasharray: 0;
							stroke-width: 0;
							& path#text_1_, path#text {
								fill: none;
							}
							@include media($large-screen){
								@include size(150px);
								@include position(absolute, 0 0 null null);
							}
						}
						&#bima_logo{
							@include size(64px);
							@include position(absolute, 40% null null 40%);
							overflow:visible;
							path#b{
								@include transition($swift-ease-in-out);
								@include transform(translateX(0px));
							}
							polygon#t{
								@include transition($swift-ease-in-out);
								@include transform(translateX(0px));
							}
							@include media($large-screen){
								@include size(100px);
								@include position(absolute, 45% null null 45%);
							}
						}
					}
					.cover{
						@include transition($swift-ease-in-out);
						@include position(absolute, 0 0 0 0);
						background: rgba($pri-black, .8);
						@include size(100%);
					}
					.caption{
						@include position(absolute, 30% null null .5%);
						opacity: 0;
						h2{
							padding:.5em 1em;
							margin: .2em 0;
							background: $crimson;
							color: $pri-black;
						}
						ul.tech{
							margin: .5em;
							li{	
								color: $crimson;
								display: inline;
								padding: .3em 2em;
								margin: 0;
								background: $pri-black;
							}
						}
						p{
							a{
								color: $pri-black;
								background: $crimson;
								padding: .5em 1em;
								width: 100%;
								display: block;
								&:before{
									content: "\f08e";
									position: absolute;
  									right: 1em;
  									padding: 0 1px;
  									font-family: FontAwesome;
  									@include transform(translateZ(0));
  									@include transition(transform 0.3s ease-out);
								}
								&:hover:before, &:focus:before, &:active:before {
  									@include transform(translateY(-4px));
								}
							}
						}
						@include media($medium-screen){
							@include position(absolute, 30% null null 5%);
						}
						@include media($large-screen){
							@include position(absolute, 30% null null 5%);
						}
					}
					@include media($large-screen){
						height:690px;
						svg#logo{
							@include position(absolute, 45% null null 45%);
						}
					}
					@include hidpi(2){
						@include background(url(/public/assets/img/bimatele_investments_@2x.png), no-repeat top center);
					}
					&:hover{
						.cover{
							background: rgba($pri-black, .7);
						}
						svg#bima_logo{
							path#b{
								@include transform(translateX(900px));
							}
							polygon#t{
								@include transform(translateX(-900px));
							}
						}
						.caption {
							opacity: 1;
							h2{
								@include animation(zoomInLeft 1s 0.5s both);
							}
							ul.tech{
								li{
									@include animation(zoomInLeft 1s 0.7s both);
								}
							}
							p{
								a{
									@include animation(zoomInLeft 1s 0.9s both);
								}
							}
						}
					}
				}
            }
        }
    }
    &.showmenu {
        .wrap {
            @include transform(translateX(200px));
			@include media($large-screen){
				@include transform(translateX(400px));
			}
        }
		.menu-button{
			@include transform(translateX(200px));
			@include media($large-screen){
				@include transform(translateX(400px));
			}
		}
        .wrap-cover {
            opacity: .4;
            visibility: visible;
        }
		.head{
			span.menu-button{
				i{
					opacity: 0.3;
				}
			}
		}
        .ze-menu {
            @include transform(translateX(0px));
        }
    }
	#noscript{
		position:fixed;top:0;left:0;
		width:100%;
		height:100%;
		z-index:99;
		background:rgba(0,0,0,0.9);

		span {
			position:absolute;
			top:50%;
			left:17%;
			font-size:5vh;
			color: 	$crimson;
		}
	}
	.footer-wrapper{
		@include clearfix;
		@include outer-container;
		margin: 2em auto;
		color: $crimson;
		text-align: center;
		.org{
			@include span-columns(10);
			@include shift(1);
		}
		.me{
			@include span-columns(10);
			@include shift(1);
			font-size: .75em;
			img {
				border-radius: 100%;
			}
			.social-icons {
				a {
					padding: 4px 8px;
					font-size: 20px;
				}
			}
		}
		@include media($medium-screen){
			.org{
				@include span-columns(6);
				@include shift(0);
			}
			.me {
				@include span-columns(6);
				@include shift(0);
			}
		}
		@include media($large-screen){
			.org{
				@include span-columns(6);
			}
			.me {
				@include span-columns(6);
			}
		}
	}
}
/*****Menu*******/

.head {
    img.img_alt_fixed {
        position: fixed;
        top: -10em;
		left: -10em;
        width: 100px;
        z-index: $z-index-sidenav - 1;
    }
    span.menu-button {
        cursor: pointer;
        outline: none;
        position: fixed;
        top: 1em;
        left: 1em;
		z-index: $z-index-backdrop + 1;
		@include transition($swift-ease-out);
        svg{
            fill: $crimson;
            width: 2em;
			z-index: $z-index-backdrop + 1;
			opacity: 1;
			visibility: visible;
            @include media($medium-screen) {
                width: 2em;
            }
            @include media($large-screen) {
                width: 2.5em;
            }
        }
		i {
			color: $crimson;
			font-size: 1em;
			z-index: $z-index-backdrop;
			opacity: 0;
			visibility: hidden;
			@include media($medium-screen) {
                font-size: 1.5em;
            }
            @include media($large-screen) {
                font-size: 2em;
            }
		}
        @include media($large-screen) {
            top: 2em;
            left: 2em;
        }
    }
}
.ze-menu {
    @include position(fixed, 0px auto 0px 0px);
    @include size(200px 100%);
    @include transform(translateX(-200px));
    @include transition(all .25s linear);
    background: $crimson;
    $shadow: inset -2px 0px 5px rgba(0, 0, 0, 0.5);
    // @include prefixer(box-shadow, $shadow, webkit ms moz o spec);
    z-index: $z-index-sidenav;
    overflow-y: auto;
    span.close-button {
        cursor: pointer;
        outline: none;
        position: absolute;
        padding: 3px;
        top: 1em;
        right: 1em;
        z-index: $z-index-sidenav;
		opacity: 0;
		visibility: hidden;
        .closing-menu-button {
            color: $pri-black;
            font-size: 1.5em;
            @include media($large-screen) {
                font-size: 2em;
            }
        }
        @include media($large-screen) {
            top: 2em;
            right: 2em;
            padding: 0px;
        }
    }
    li {
		a {
        	border-bottom: $pri-black;
        	color: $pri-black;
        	display: block;
        	font-weight: bold;
        	padding: 1em 2em;
			border-bottom: 1px solid rgba(1,37,48, 0.1);
        	&:hover, &.current {
            	background-color: $pri-black;
            	color: $crimson;
        	}
    	}

	}
	a img {
        margin: 0 auto;
        width: 90px;
        outline: none;
        margin: 0 0 0 25%;
        @include media($large-screen) {
            width: 150px;
        }
    }
    @include media($large-screen) {
        @include size(400px 100%);
        @include transform(translateX(-400px));
    }
}

// Modernizr hacks

.no-svg {
	.head{
		span.menu-button {
			svg {
				opacity: 0;
				visibility: hidden;
			}
			i {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.ze-menu {
		span.close-button {
			opacity: 1;
			visibility: visible;
		}
	}
}

// Fixed elements (some - except menus)

.wrap-cover {
	@include position(fixed, 0px 0px 0px 0px);
	background: $pri-black;
	opacity: 0;
	visibility: hidden;
	z-index: $z-index-backdrop;
}

%cog {
	@include background(url('../../public/assets/img/settings.svg'), no-repeat);
	position:absolute;
	@include animation-name(spinning);
  	@include animation-duration(6s);
  	@include animation-timing-function(linear);
  	@include animation-iteration-count(infinite);
  	@include size(32px);
}
.cog-left{
  @extend %cog;
  left: 0px;
  top: 25px;
}

.cog-right{
  @extend %cog;
  left: 22px;
  top: 40px;
  @include animation-direction(reverse);
}

.cog-center{
  @extend %cog;
  left: 15px;
  top: 2px;
  @include animation-direction(reverse);
}

.construction{
  margin: auto;
  @include position(fixed,null 2px 0px null);
  @include size(54px 74px);
  z-index: $z-index-backdrop + 2;
  span {
	@include position(absolute, 30px null null -150px);
	color:$crimson;
	text-transform:uppercase;
	font-weight: bold;
	opacity: 0;
	visibility: hidden;
	@include transition(all 0.2s cubic-bezier(0,.76,1,.21));
	}
   &:hover {
	span{
		opacity: 1;
		visibility:visible;
		left: -200px;
		}
	}
}

.animd {
	path, polygon, circle {
	  stroke-dasharray: 900;
	  @include animation(dash 5s 0s both);
	}
	& path#text_1_, path#text {
		@include animation(filld 5s 0s both);
	}
}
