/*
 * HS -Develop & Design
 * Variables
 */
/* Colors */

$pri-black: #012530;
$crimson: #ff302c;
$white-smoke: #f8f8f8;
/* Grids - comment out when done*/

//$visual-grid: true !global;
//$visual-grid-index: front !global;
/*  media breakpoints  */
/*
	$medium-screen: em(640);
	$large-screen: em(860);
 */
